<ion-split-pane>
  <ion-menu contentId="content">

    <ion-header>
      <ion-toolbar color="primary">
        <ion-title>메뉴</ion-title>
      </ion-toolbar>
    </ion-header>

    <ion-content>
      <ion-list>
        <ion-menu-toggle auto-hide="false" >
    
          <ion-item routerLink="/menu/main" routerDirection="root" >
            <ion-label>
              myMemory
            </ion-label>
          </ion-item>
          <ion-item routerLink="/menu/moviemain" routerDirection="root" >
            <ion-label>
              영화 검색
            </ion-label>
          </ion-item>
          <ion-item routerLink="/mypage" *ngIf="auth_state">
            <ion-label>
                마이페이지
              </ion-label>
          </ion-item>
          <ion-item tappable (click)="login()" *ngIf="!auth_state">
            <ion-icon name="log-In" slot="start"></ion-icon>
            로그인
          </ion-item>
          <ion-item tappable (click)="logout()" *ngIf="auth_state">
            <ion-icon name="log-out" slot="start"></ion-icon>
            로그아웃
          </ion-item>

        </ion-menu-toggle>
        <!-- <ion-item tappable routerLink="/login" routerDirection="root"> -->
        

      </ion-list>
    </ion-content>

  </ion-menu>

  <ion-router-outlet id="content" main></ion-router-outlet>
</ion-split-pane>