<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>영화정보</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-tabs>
  <ion-tab-bar slot="top">
    <ion-tab-button tab="movie" >
      <ion-label  >영화</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="actors" >
      <ion-label  >배우</ion-label>
    </ion-tab-button>
    <ion-tab-button >
      <ion-label >1</ion-label>
    </ion-tab-button>
    
  </ion-tab-bar>
</ion-tabs>
</ion-content>
