<ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button defaultHref="/"></ion-back-button>
      </ion-buttons>
      <ion-title>영화 상세</ion-title>
  
  
    </ion-toolbar>
  </ion-header>

<ion-content fullscreen>
  <div class='image-wrap'>
    <img src='https://image.tmdb.org/t/p/w500_and_h282_face/4tu7fg5H8Gad5W0Tu7QlFFU4AnX.jpg'>
    <img class="poster" src='https://image.tmdb.org/t/p/w116_and_h174_face/kwCvv1QYjooAqIOBWf7pOrRSmrt.jpg'>

  </div>
  <div class='poster-wrap'>
    <h2 class="title">엑시트<span>(2019)</span></h2>
    
  </div>
  <ion-item>
      <ion-label position='stacked' class="overview">줄거리</ion-label>
      <ion-textarea>
          대학교 산악 동아리 에이스 출신이지만 졸업 후 몇 년째 취업 실패로 눈칫밥만 먹는 용남은 온 가족이 참석한 어머니의 칠순 잔치에서 연회장 직원으로 취업한 동아리 후배 의주를 만난
      </ion-textarea>
    </ion-item>

  
        <div style="margin-left:20px;">
          <div>출현진</div>
    <ion-slides [options]="slideOpts">
        <ion-slide >
          <ion-card >
            <img src='https://image.tmdb.org/t/p/w120_and_h133_face/pQ2YXshbrC0CiKGCZfswV4PhF2d.jpg'>
            <ion-card-content>
              zzzzzzzzzzzzzzzzzzzzzz
            </ion-card-content>
          </ion-card>
        </ion-slide>
        <ion-slide >
          <ion-card>
            <img src='https://image.tmdb.org/t/p/w120_and_h133_face/pQ2YXshbrC0CiKGCZfswV4PhF2d.jpg'>
          </ion-card>
        </ion-slide>
        <ion-slide >
          <ion-card>
            <img src='https://image.tmdb.org/t/p/w120_and_h133_face/pQ2YXshbrC0CiKGCZfswV4PhF2d.jpg'>
          </ion-card>
        </ion-slide>
    </ion-slides>

    <ion-item>
      <ion-label>
        미디어
      </ion-label>
      
    </ion-item>
  </div>


</ion-content>
