ion-text > p {
    margin: 1vh 0;
    color: #A9A9A9;
}
ion-label{
    font-family: 'Jua', 'Do Hyeon'
}


@import url('https://fonts.googleapis.com/css?family=Do+Hyeon|Jua&display=swap&subset=korean');