<ion-header translucent>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button text="" defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>새로운 리뷰북</ion-title>
    <ion-buttons slot="end">
      <ion-button type="submit" (click)="onSubmit()" [disabled]="!reviewlistForm.valid">
        저장
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <form [formGroup]="reviewlistForm">

    <ion-avatar style="margin: 10pt auto;">
      <img src="../../../assets/img/home/{{bookIcon}}">
    </ion-avatar>
    <ion-input hidden formControlName="profile" value='{{bookIcon}}'></ion-input>
    <ion-item>
      <ion-label position="fixed">이름</ion-label>
      <ion-input type="text" formControlName="title" text-right></ion-input>
    </ion-item>

    <ion-row>
      <ion-col size='3' *ngFor='let icon of bookIcons' (click)="click(icon)">
        <img src='../../../assets/img/home/{{icon}}' style='width: 20px;'>
      </ion-col>
    </ion-row>


  </form>
</ion-content>