<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
          <ion-back-button defaultHref="/"></ion-back-button>
        </ion-buttons>
        <ion-title>리뷰 검색</ion-title>
        <ion-buttons slot="end">
          <ion-icon class="info-stats" name="information-circle-outline" size="large"></ion-icon>
        </ion-buttons>
      </ion-toolbar>
</ion-header>

<ion-content>
    <ion-searchbar [(ngModel)]="searchTerm" (ionChange)="searchChanged($event)"></ion-searchbar>


    <ion-item button *ngFor="let item of (results | async)"  >
      <div [routerLink]="['/review/detail',item._id]">{{item.title}}</div>
      <div>{{item.liker.length}}</div>
      

    </ion-item>
</ion-content>
