<ion-header>
  <ion-toolbar class="grad">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>My Memory</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-slides [options]="sliderConfig">
        <ion-slide *ngFor="let item of (playingMovies | async)">
          <ion-card [routerLink]="['/detail-movie/',item.id]">
            <img src="https://image.tmdb.org/t/p/w500{{item.backdrop_path}}" >
            <div class="title-wrap">
                <p id='title1'>{{item.title}}</p>
                <p id='title2'>{{item.original_title}}</p>
            </div>
          </ion-card>
        </ion-slide>
      </ion-slides>

    
    <div class="wrap">
      <ion-row>
        
        <ion-col class="ion-padding" size="6">
          <div (click)="goReviewbook()">
            <img src="assets/img/home/icon_movie.png">
            <ion-label>나의리뷰</ion-label>
          </div>
        </ion-col>
        <ion-col class="ion-padding" size="6">
          <div [routerLink]="['/search']">
            <img src="assets/img/home/icon_restaurant.png">
            <ion-label>영화리뷰검색</ion-label>
          </div>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col class="ion-padding" size="6">
          <div [routerLink]="['/home']">
            <img src="assets/img/home/icon_music.png">
            <ion-label>영화검색</ion-label>
          </div>
        </ion-col>
        <ion-col class="ion-padding" size="6">
          <div>
            <img src="assets/img/home/icon_like.png"(click)="chat()">
            <ion-label>심심채팅</ion-label>
          </div>
        </ion-col>
      </ion-row>
    </div>
  </ion-content>