*{
    margin: 0;
}
ion-card{
    margin: 0;
    border-radius: 0%;
}

.wrap{
    align-items: center;
    padding: 10%;
    background: #fff;
    display: grid;
    width: 100%;

    img{
        margin: 15px;
        width: 15vw;
        max-width: 80px;
    }
}
.title-wrap{
    position: absolute;
    left: 5px;
    bottom: 5px;
}

ion-col {
    padding: 0px;

    div {
        padding: 3vh 6vw;
        min-width: 120px;
        text-align: center
    }

    ;
}


ion-label {
    display: block;
    text-align: center;
    font-size: 17px;
    font-family: 'Jua', 'Do Hyeon'

}

#title1{
    color: #fff;
    font-size: 22px;
    text-align: left;
}
#title2{
    color: #fff;
    font-size: 15px;
    text-align: left;
}


@import url('https://fonts.googleapis.com/css?family=Do+Hyeon|Jua&display=swap&subset=korean');